{% extends 'main/layout.html' %}

{% block title %}Images{% endblock %}

{% block content %}
<main>
    <h1>Images</h1>
    <p>
        <strong>Using:</strong> {{ image_list|length }} out of 1000 images.
        {{ total_quota }}MB out of 100MB.
    </p>
    <form method="post" enctype="multipart/form-data">
        {{ form.non_field_errors }}
        <p>
            <input type="file" name="file" id="id_file" multiple required>
            {% if form.file.errors %}
                {% for error in form.file.errors %}
                    <span>{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
        </p>
        {% csrf_token %}
        <input type="submit" value="Upload">
    </form>
</main>

<section style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-template-rows: 302px;">
    {% for image in image_list %}
    <a href="{% url 'image_detail' image.slug %}" style="display: flex; justify-content: center; border: 1px solid #eee;">
        <img src="{% url 'image_raw' image.slug image.extension %}" alt="{{ image.name }}" style="max-width: 300px; max-height: 300px; object-fit: contain;">
    </a>
    {% endfor %}
</section>
{% endblock %}
