{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1>dukkha.pub</h1>

    <h2>Overview</h2>
    <ul>
        <li>Publishing platform with (some) features</li>
        <li>Make simple websites without (too much) suffering</li>
    </ul>

    <h2>Features</h2>
    <ul>
        <li>Pages</li>
        <li>Resources (future)</li>
        <li>Images (future)</li>
        <li>Custom CSS (future)</li>
        <li>Custom domain</li>
        <li>
            <span title="Fine, we have one cookie for sessions. But don't tell anyone.">
                No ads, no tracking, no cookies
            </span>
        </li>
        <li>
            <span title="Diamonds are forever. Affero GPL is forever.">
                Open source forever
            </span>
        </li>
    </ul>

    <h2>Pricing</h2>
    <ul>
        <li>$19/year</li>
        <li>Price for new users will go up every time there is a new feature.</li>
        <li>Price for existing users will always remain the same.</li>
    </ul>
</main>
{% endblock content %}
