{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1>dukkha.pub</h1>

    <h2>Overview</h2>
    <ul>
        <li>Publishing platform with (some) features</li>
        <li>Make simple websites without (too much) suffering</li>
    </ul>

    <h2>Features</h2>
    <ul>
        <li>Pages</li>
        <li>Images</li>
        <li>Custom CSS</li>
        <li>Custom domain</li>
        <li>No ads, no tracking, no cookies except for login</li>
        <li>Open source forever</li>
    </ul>

    <h2>Pricing</h2>
    <ul>
        <li>$19/year</li>
        <li>Price for new users will go up every time there is a new feature.</li>
        <li>Price for existing users will always remain the same.</li>
    </ul>
</main>
{% endblock content %}
