{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1>dukkha</h1>
    <p>
        We help people make simple websites.
    </p>
    <p>
        That's the most 90's h1 ever. But really, have you ever tried to set up the
        simplest website for a project or something you want to have available for
        showing?
    </p>
    <p>
        It's actually pretty hard. I don't know why. But I am planning to find out. I'm
        making this simple platform for people to make websites. It will only be simple
        pages and links. Customisable with HTML and CSS. Let's see how I fail.
    </p>

    <h2>Features</h2>
    <ul>
        <li>Pages and collections of pages</li>
        <li>Custom CSS</li>
        <li>Export all data any time</li>
        <li>Custom domain</li>
        <li>API</li>
        <li>Simple backend-based analytics</li>
        <li>No ads or cookies.</li>
        <li>Everything open source</li>
    </ul>

    <h2>Pricing</h2>
    <ul>
        <li>Pay with monies, not data.</li>
        <li>Free trial one week</li>
        <li>Premium — all features</li>
        <ul>
            <li>$19/year</li>
        </ul>
    </ul>
</main>
{% endblock %}
