{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}schoolmemories{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            {{ request.custom_css|safe }}
        </style>
    </head>

    <body>
        {% if request.user.is_authenticated %}
        <div class="dashline">
            <a href="{% url 'index' %}">Website</a>
            <a href="{% url 'dashboard' %}">Dashboard</a>
        </div>
        {% endif %}

        {% if messages %}
        <aside>
            {% for message in messages %}
            <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </aside>
        {% endif %}

        {% block content %}
        {% endblock content %}

        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
