{% extends 'main/layout.html' %}

{% block title %}School Memories That Matter{% endblock %}

{% block content %}
{% include 'partials/nav.html' %}
<main>
    <div>
        [ <a href="{% url 'introduction_update' %}">Edit</a> ]
    </div>
    <div>
        {{ site_settings.introduction_as_html|safe }}
    </div>

    <div class="memory-grid">
        {% for memory in memory_list %}
        <a href="{% url 'memory_detail' memory.id %}" class="memory-grid-item">
            <div class="memory-grid-item-text">
                <span style="color: #b1b1b1;">
                    #{{ memory.id }}&nbsp;
                </span>
                {{ memory.title }}
            </div>
            <div class="memory-grid-item-tags">
                <div>
                    {{ memory.get_country_display }}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</main>
{% endblock content %}
