{% extends 'main/layout.html' %}

{% block title %}Submit a memory{% endblock %}

{% block content %}

{% include 'partials/nav.html' %}

<main>
    <div style="max-width: 800px;">
        <h1>Submit a memory</h1>
        <form method="post">
            <p>
                <label for="id_gender">Gender <span style="color: red;">*</span></label>
                {{ form.gender.errors }}
                {{ form.gender }}
            </p>

            <p>
                <label for="id_country">Country <span style="color: red;">*</span></label>
                {{ form.country.errors }}
                {{ form.country }}
            </p>

            <p>
                <label for="id_category">Category <span style="color: red;">*</span></label>
                {{ form.category.errors }}
                {{ form.category }}
            </p>

            <p>
                <label for="id_tags">Tags <span style="color: red;">*</span></label>
                {{ form.tags.errors }}
                {{ form.tags }}
            </p>

            <p>
                <label for="id_school_grade">School Grade <span style="color: red;">*</span></label>
                {{ form.school_grade.errors }}
                {{ form.school_grade }}
            </p>

            <p>
                <label for="id_school_type">School Type <span style="color: red;">*</span></label>
                {{ form.school_type.errors }}
                {{ form.school_type }}
            </p>

            <p>
                <label for="id_title">Title <span style="color: red;">*</span></label>
                {{ form.title.errors }}
                {{ form.title }}
            </p>

            <p>
                <label for="id_body">Memory content (max 300 words) <span style="color: red;">*</span></label>
                {{ form.body.errors }}
                {{ form.body }}
            </p>

            <p>
                <label for="id_terms_of_service">
                    I agree with the <a href="{% url 'terms_of_service' %}" target="_blank">Terms of Service</a> <small>(open in a new tab)</small> <span style="color: red;">*</span>
                </label>
                {{ form.terms_of_service.errors }}
                {{ form.terms_of_service }}
            </p>

            <p>
                <label for="id_privacy_policy">
                    I agree with the <a href="{% url 'privacy_policy' %}" target="_blank">Privacy Policy</a> <small>(open in a new tab)</small> <span style="color: red;">*</span>
                </label>
                {{ form.privacy_policy.errors }}
                {{ form.privacy_policy }}
            </p>

            {% csrf_token %}

            {% if enable_turnstile %}
            <div class="cf-turnstile" data-sitekey="0x4AAAAAABM4uMpeJqzaXTok" data-callback="turnstileCallback" style="margin-bottom: 12px;"></div>
            <input type="hidden" name="turnstile_response" id="id_turnstile_response">
            {% endif %}

            <input type="submit" value="Submit memory">
        </form>
    </div>
</main>
{% endblock content %}

{% block scripts %}
{% if enable_turnstile %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script>
    function turnstileCallback(token) {
        document.getElementById('id_turnstile_response').value = token;
    }
</script>
{% endif %}
{% endblock scripts %}
