{% extends 'main/layout.html' %}

{% block title %}School memories{% endblock %}

{% block content %}
{% include 'partials/nav.html' %}
<main>
    <h1>School Memories</h1>

    {% for memory in memory_list %}
    <div>
        <p>#{{ memory.id }} Title: {{ memory.title }}</p>
        <p>
            {{ memory.category }}
            / {{ memory.tags }}
            / {{ memory.get_gender_display }}
            / {{ memory.get_country_display }}
        </p>
        <p>
            {{ memory.school_grade }} grade at a {{ memory.school_type }} school.
        </p>
        <p>{{ memory.title }}</p>
    </div>
    <hr>
    {% endfor %}
</main>
{% endblock content %}
