schoolmemories.01z.io {
	route {
		file_server /static/* {
			root /var/www/schoolmemories
		}
		reverse_proxy 127.0.0.1:5000
	}
	encode zstd gzip
	tls {
		on_demand
	}
	log {
		output stdout
		format console
	}
}
