[Unit]
Description=schoolmemories
After=network.target

[Service]
Type=simple
User=deploy
Group=www-data
WorkingDirectory=/var/www/schoolmemories
ExecStart=/var/www/schoolmemories/.venv/bin/gunicorn -b 127.0.0.1:5000 -w 4 --access-logfile - schoolmemories.wsgi
ExecReload=/bin/kill -HUP $MAINPID
Environment="DEBUG={{ debug }}"
Environment="LOCALDEV={{ localdev }}"
Environment="SECRET_KEY={{ secret_key }}"
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
